.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 764px 1fr;
  grid-template-areas:
    ".  header-container ."
    ". content-container table-of-contents"
    ". footer .";
  grid-template-rows: auto 1fr; /* NEW */
  gap: var(--spacing-md);
  min-height: 100svh;
  margin: var(--spacing-lg) auto auto;

  @media screen and (max-width: 1024px) {
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header-container"
      "content-container"
      "footer";

    > .table-of-contents {
      display: none;
    }
  }

  > .content-container {
    grid-area: content-container;
  }

  > .header-container {
    grid-area: header-container;
  }

  > .table-of-contents {
    grid-area: table-of-contents;
  }

  > .footer {
    grid-area: footer;
  }
}

.header-container {
  > figure {
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);
    padding-bottom: var(--spacing-md);
    border-bottom: var(--page-border);

    > img {
      border: none;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
    }

    > figcaption h1 {
      font-size: 1.5rem;
      color: var(--color-gray-1000);
    }

    > figcaption p {
      color: var(--color-gray-800);
    }
  }
}

.backToHome {
  margin: 5rem 0;

  > a {
    color: var(--color-action);
    text-decoration: none;
  }

  > a:hover {
    text-decoration: underline;
  }
}

.footer {
  padding: var(--spacing-md);
  position: static;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-gray-400);
  width: 100%;
  bottom: 0;
  left: 0;
}
