.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  max-width: 768px;
  min-height: 95vh;
  margin: var(--spacing-lg) auto auto;
}

.header-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
  border-bottom: var(--page-border);

  > img {
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

  > figcaption h1 {
    font-size: 1.5rem;
    color: var(--color-gray-1000);
  }

  > figcaption p {
    color: var(--color-gray-800);
  }
}

.backToHome {
  margin: 5rem 0;

  > a {
    color: var(--color-action);
    text-decoration: none;
  }

  > a:hover {
    text-decoration: underline;
  }
}

.footer {
  padding: var(--spacing-md);
  position: absolute;
  text-align: center;
  font-size: 0.8rem;
  color: var(--color-gray-400);
  width: 100%;
  bottom: 0;
  left: 0;
}
