.container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.header-container {
  max-width: 768px;
  margin: var(--spacing-md) auto auto;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--spacing-sm);
  padding-bottom: var(--spacing-md);
  border-bottom: var(--page-border);

  > img {
    border: none;
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

  > figcaption h1 {
    font-size: 1.5rem;
    color: var(--color-gray-1000);
  }

  > figcaption p {
    color: var(--color-gray-800);
  }
}

.backToHome {
  margin: 3rem 0 0;
}
