.tableOfContents {
  max-width: 300px;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  transform: translate(780px, 150px);
  padding: var(--spacing-sm);
  color: var(--color-primary-light);
  background-color: var(--color-kbd-background-color);
  border-radius: 4px;
}
