.post-container {
  > h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  > h2 {
    font-size: calc(2rem);
    font-weight: medium;
    margin-top: 96px;
    margin-bottom: 32px;
    color: var(--color-tertiary);
  }

  > h3 {
    font-size: calc(1.5625rem);
    color: var(--color-gray-900);
    margin-top: 64px;
    margin-bottom: 12px;
  }

  > h4 {
    font-size: calc(1.245rem);
    color: var(--color-gray-800);
    margin-top: 32px;
    margin-bottom: 6px;
  }

  > h5 {
    font-size: calc(1.145rem);
    color: var(--color-gray-800);
    margin-top: 32px;
    margin-bottom: 6px;
  }

  > ul,
  ol {
    border-left: 2px solid var(--color-primary);
    background-color: var(--color-gray-50);
    border-radius: var(--border-radius-sm);
    padding: 0.645rem;
    padding-left: 2rem;
    font-size: calc(1.125rem);
    margin-bottom: 1.5rem;
  }

  li:not(:last-of-type) {
    margin-bottom: 8px;
  }

  p {
    font-size: calc(1.1875rem);
    margin-bottom: 1.5rem;
    line-height: calc(1em + 0.725rem);
    @media screen and (max-width: 686px) {
      font-size: calc(1.125rem);
    }
  }

  > span {
    font-size: 0;
  }

  img {
    margin-bottom: 1.25rem;
    border: 1px solid var(--color-gray-50);
    border-radius: var(--border-radius-sm);
  }

  code {
    font-size: 0.9em;
    letter-spacing: -0.5px;
    padding: 4.5px 6px;
    margin: 1px -1px;
    background: rgba(115, 125, 140, 0.17);
    border-radius: 3px;
  }

  > pre {
    padding: var(--spacing-sm) !important;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 8px;
    margin-bottom: 40px;
    border-radius: var(--border-radius-sm);

    @media screen and (max-width: 686px) {
      width: 90vw;
      margin-left: auto;
      margin-right: auto;
    }

    > code {
      font-size: 1rem;
      letter-spacing: 0 !important;
      padding: auto !important;
      margin: auto !important;
      background: inherit !important;
      border-radius: inherit !important;
    }
  }

  > aside {
    margin-top: 16px;
    margin-bottom: 64px;
    border-left: 3px solid var(--color-info);
    padding-left: calc(29px);
  }

  > strong {
    font-size: 1.125rem;
    margin-bottom: 1em;
  }

  a {
    position: relative;
    font-weight: bold;
    color: var(--color-gray-1000);
    text-decoration: none;
  }

  a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    border-bottom: 1px solid var(--color-gray-1000);
    transition: all 0.15s ease-in-out;
    opacity: 1;
  }

  a:hover::after {
    opacity: 0;
  }

  > .postTitle {
    font-size: 2rem;
    text-align: center;
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
  }

  > .postInfo {
    padding-left: var(--spacing-sm);
    padding-bottom: var(--spacing-xs);
    border-bottom: var(--page-border);
    margin-bottom: var(--spacing-md);
  }
}
