// Color
$--color-text: hsl(210deg 10% 90% / 1);
$--color-background: hsl(210deg 15% 6% / 1);
$--color-blurred-background: hsl(210deg 15% 6% / 0.75);
$--color-action: hsl(240deg 95% 62% / 1);
$--color-primary: hsl(225deg 100% 75% / 1);
$--color-secondary: hsl(333deg 100% 55% / 1);
$--color-tertiary: hsl(280deg 100% 85% / 1);
$--color-decorative: hsl(200deg 50% 60% / 1);
$--color-info: hsl(225deg 100% 80% / 1);
$--color-info-background: hsl(225deg 100% 80% / 0.1);
$--color-error: hsl(340deg 95% 60% / 1);
$--color-error-background: hsl(340deg 95% 43% / 0.1);
$--color-success: hsl(160deg 100% 40% / 1);
$--color-success-background: hsl(160deg 100% 40% / 0.1);
$--color-warning: hsl(40deg 100% 50% / 1);
$--color-warning-background: hsl(40deg 100% 50% / 0.1);
$--color-gray-50: hsl(210deg 19% 10% / 1);
$--color-gray-100: hsl(210deg 15% 20% / 1);
$--color-gray-200: hsl(210deg 15% 25% / 1);
$--color-gray-300: hsl(210deg 10% 40% / 1);
$--color-gray-400: hsl(210deg 9% 45% / 1);
$--color-gray-500: hsl(210deg 8% 50% / 1);
$--color-gray-600: hsl(210deg 12% 55% / 1);
$--color-gray-700: hsl(210deg 14% 66% / 1);
$--color-gray-800: hsl(210deg 20% 77% / 1);
$--color-gray-900: hsl(210deg 25% 88% / 1);
$--color-gray-1000: hsl(210deg 25% 96% / 1);
$--color-syntax-bg: hsl(210deg 15% 6% / 1);
$--color-syntax-highlight: hsl(210deg 30% 18% / 1);
$--color-syntax-txt: hsl(0deg 0% 100% / 1);
$--color-syntax-comment: hsl(200deg 18% 51% / 1);
$--color-syntax-prop: hsl(326deg 100% 61% / 1);
$--color-syntax-bool: hsl(50deg 100% 50% / 1);
$--color-syntax-val: hsl(210deg 12% 65% / 1);
$--color-syntax-str: hsl(259deg 100% 71% / 1);
$--color-syntax-name: hsl(280deg 100% 66% / 1);
$--color-syntax-del: hsl(0deg 100% 67% / 1);
$--color-syntax-regex: hsl(50deg 100% 50% / 1);
$--color-syntax-fn: hsl(195deg 100% 50% / 1);
$--color-code-background-color: hsl(210deg 15% 20% / 1);
$--color-kbd-background-color: hsl(210deg 15% 20% / 1);
$--color-kbd-border-color: hsl(210deg 10% 40% / 1);
$--tooltip-shadow: none;
$--kbd-background-color: var($--color-gray-300);
$--kbd-border-color: var($--color-gray-200);
$--selection-text-color: white;
$--selection-background-color: hsl(260deg 100% 40% / 0.85);

// Spacing
$--spacing-xxs: 4px;
$--spacing-xs: 8px;
$--spacing-sm: 16px;
$--spacing-md: 32px;
$--spacing-lg: 64px;
